<div class="row">
  <div class="col-sm-6">
    <div class="show-artist">

    <h1> <%= @artist.name %> </h1>

    <p class="genre">Genre: <%= @artist.genre %></p>

        <h2> List of Songs: </h2>

        <% @artist.songs.each do |song| %>

        <p class="song-name"><%=song.name%></p>
        <p>Duration: <%=song.length%> minutes</p>
        <p>Release Date: <%=song.release_date%></p>
        <hr/>
      <% end %>
    </div>

  </div>

  <div class="col-sm-6">
    <%= image_tag("artist.jpg") %>

  </div>


</div>
