<div class="row">
  <div class="col-xs-6">
    <div id="<%=@artist.id%>" class="artist-details">

      <h1> <%= @artist.name %> </h1>

      <p class="genre">Genre: <%= @artist.genre %></p>

      <h2> List of Songs: </h2>
      <ul class="list-of-songs">
        <% @artist.songs.each do |song| %>
        <!-- <input type="hidden" class="song-id" value="<%= song.id %>" > -->
        <li data-artist-id="<%= @artist.id %>" id="<%= song.id %>" class="song-name">
          <p><%=song.name%></p>

          <a href="/artists/<%= @artist.id%>/songs/<%= song.id%>/edit" class="btn btn-primary">Edit</a>
          <a href="/api/artists/<%= @artist.id %>/songs/<%=song.id%>" data-method="delete" rel="nofollow" class="btn btn-primary delete-song">Delete</a>
        <!-- <p>Duration: <%=song.length%> minutes</p> -->
        <!-- <li>Release Date: <%=song.release_date%></li> -->
        <%#= link_to 'Edit', edit_artist_song_path(song.artist, song), class: "btn btn-primary" %>
        <%#= link_to 'Delete', [song.artist, song], data: {confirm: "Are you sure you want to delete this song?" }, :method => :delete, class: "btn btn-primary delete-song" %>
        <hr/>
        </li>
        <% end %>
      </ul>
    </div>
      <%= render "songs/song", song: @artist.songs.build %>
  </div>

  <div class="col-xs-6">
    <div class="artist-image">
      <% @artist.photos.each do |photo| %>
          <%= image_tag photo.image.thumbnail %>
      <% end %>
    </div>
  </div>
</div>

<a href="/api/artists/<%= @artist.id %>/songs/remove_multiple" data-method="delete" rel="nofollow" class="btn btn-primary delete-all-songs">Delete All Songs</a>

<%#= link_to "Add Song", new_artist_song_path(@artist), class: "btn btn-success" %>
<%= link_to "Edit Artist", edit_artist_path, class: "btn btn-success" %>
<%= link_to "Delete Artist", artist_path(@artist.id), method: :delete, data: {confirm: "NOTE: Deleting an artist will delete all associated songs. \nDo you wish to continue?" }, class: "btn btn-danger" %>
<br/>
<br />
<%= link_to "Back to List of Artists", artists_path, class: "btn btn-primary" %>
